:root {
  --heading-color: #8f556c;
  --primary-color: #888888;
  --background-color: #f8f8f8;
  --background-color-dark: #e2e2e2;
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--heading-color);
  font-family: "Noto Serif", serif;
  font-style: italic;
  margin: 30px auto 15px auto;
  font-size: 30px;
}

h2 {
  color: #666666;
  font-family: "Noto Serif", serif;
  font-style: italic;
  margin: 30px auto 15px auto;
  font-size: 28px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  font-size: 13px;
}

footer {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  font-size: 11px;
  margin: 20px 0;
}

.carousel {
  margin: 20px auto;
}

.header {
  margin: 20px 0 0 0;
}

footer,
.header,
#ueber-uns,
#behandlungen,
#preise {
  padding: 0 10%;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
}

.navigation-item {
  text-decoration: none;
  color: var(--primary-color);
  transition: text-shadow 0.2s;
}

.navigation-item:hover {
  color: var(--heading-color);
  text-shadow: 0 0 0.65px var(--heading-color), 0 0 0.65px var(--heading-color);
}

#ueber-uns {
  background-color: var(--background-color-dark);
}

img#kosmetikerinnen {
  margin: 0px 0px 30px 0px;
}

.impressum-datenschutz {
  text-align: right;
}
